<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/main">KHU Festival Information</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% @posts.each do |e| %>
        <li><a href="/home/index/<%= e.id %>"><%= e.date %>일</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Top 버튼 -->
<a href="#" class="scrollToTop">Scroll To Top</a>


<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <p class="head2">
    <%= image_tag("map.png", class: "img_map") %>
  </p>
    <div class="head2">
        <div class="index-box">
            <span class="index-page"><a href="#tag1">공대</a></span>
            <span class="index-page"><a href="#tag2">외대</a></span>
            <span class="index-page"><a href="#tag3">체대</a></span>
            <span class="index-page"><a href="#tag4">생대</a></span>
            <br>
            <span class="index-page"><a href="#tag5">국제대</a></span>
            <span class="index-page"><a href="#tag6">자대</a></span>
            <span class="index-page"><a href="#tag7">학생회관</a></span>
            <span class="index-page"><a href="#tag8">예대</a></span>
        </div>
    </div>
</div>


<div class="container-fluid bg-3 text-center" id="tag1">
   <h1>공과대학 주점 목록</h1>
    <%= image_tag("gong.jpg", class: "img_map") %><br><br>
   <% @contents1.each do |c| %>
   <div class="col-sm-2">
     <table class="table">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag2">
   <h1>외국어대학 주점 목록</h1>
         <%= image_tag("global.jpg", class: "img_map") %><br><br>
   <% @contents2.each do |c| %>
   <div class="col-sm-2">
     <table class="table">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag3">
   <h1>체육대학 주점 목록</h1>
       <%= image_tag("che.jpg", class: "img_map") %><br><br>
   <% @contents3.each do |c| %>
   <div class="col-sm-2">
     <table class="table">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag4">
   <h1>생명과학대학 주점 목록</h1>
       <%= image_tag("seng.jpg", class: "img_map") %><br><br>
   <% @contents4.each do |c| %>
   <div class="col-sm-2">
     <table class="table">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag5">
   <h1>국제대학 주점 목록</h1>
   <% @contents5.each do |c| %>
   <div class="col-sm-2">
     <table class="table table-condensed">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag6">
   <h1>전자정보대학 주점 목록</h1>
       <%= image_tag("ja1.png", class: "img_map") %><br><br>
   <% @contents6.each do |c| %>
   <div class="col-sm-2">
     <table class="table table-condensed">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag7">
   <h1>학생회관 주점 목록</h1>
    <%= image_tag("hak.jpg", class: "img_map") %><br><br>
   <% @contents7.each do |c| %>
   <div class="col-sm-2">
     <table class="table table-condensed">
       <tr>
         <td class="table-title danger" colspan="2"><%= c.name %></td>
       </tr>
       <tr>
         <td class="table-title" colspan="2">메뉴</td>
       </tr>
       <tr>
         <td><%= c.menu1 %></td>
         <td><%= c.price1 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu2 %></td>
         <td><%= c.price2 %>원</td>
       </tr>
       <tr>
         <td><%= c.menu3 %></td>
         <td><%= c.price3 %>원</td>
       </tr>
       <tr>
         <td colspan="2"><%= c.text %></td>
       </tr>
     </table>
   </div>
   <% end %>
</div>

<hr>

<div class="container-fluid bg-3 text-center" id="tag8">
   <h1> 예술디자인대학 주점 목록</h1>
    <%= image_tag("yedi.jpg", class: "img_map") %><br><br>
  
</div>

<p>
<br><br><br><br>
</p>

<hr>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div class="logo col-md-4">
            <h1 class="contact_logo" align="center"> <img src="/assets/likelion_logo-a329241da9b58345c5588dcd430a399bb30ae259c8f8ea5e9a8358e77b2143c8.png">  x  <img src="/assets/kyung-42884f765c15f301e10f401f062370c1fba7e159a942373d62b5895776033682.jpg" style="vertical-align:middle" class="logo_shape_round"> </h1>
        </div>
  <p class="extra-info">Copyright © LikeLion in KHU 2016<br>
  자매품 : <a href="https://rt-bus.herokuapp.com/">외대버정</a><br>
  <span id="edit"><a class="index-page" href="/home/enter">수정</a></span>
  </p> 
</footer>

<!-- TOP 버튼 -->
<script>
    $(document).ready(function(){
	
	//Check to see if the window is top if not then display button
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scrollToTop').fadeIn();
		} else {
			$('.scrollToTop').fadeOut();
		}
	});
	
	//Click event to scroll to top
	$('.scrollToTop').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
	
});
</script>