<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/main">KHU Festival Information</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% @posts.each do |e| %>
        <li><a href="/home/index/<%= e.id %>"><%= e.date %>일</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <p class="margin">
    <span class="main-title">경희대학교 국제캠퍼스 축제 주점 정보</span><br>
  </p>
   <h3 class="#">2016.05.23 - 2016.05.27</h3><br><br><br>
   <!--DB 갯수 카운트 div-->
   <div class="stat margin">
     <h3 class="margin-small">지금까지 총 [ <span class="stat-count highlight"><%= @count %></span> ]개의 주점이 등록되었습니다</h3>
     <div class="today_link">
      <a href="/home/today" id="today_fest" class="link-css" value="<%= @today %>"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 오늘의 주점</a>
     </div>
  </div>
</div>

<!-- Second Container 
<div class="container-fluid bg-2 text-center">
 
</div>-->

<div class="container-fluid bg-3 text-center">
  <div class="container">
    <h2 class="margin">LINE UP</h2>
  </div>
    <div class="row lineup-nest">
      <table class="col-md-1 col-md-offset-1 col-xs-3 col-xs-offset-4 image-size">
        <tr class="row">
          <th class="lineup-date">23일</th>
        </tr>
        <tr class="row">
          <td><%= image_tag("img/lineup/sonseung23.jpg") %></td>
        </tr>
        <tr class="row">
          <td class="lineup_name">손승연</td>
        </tr>
      </table>
      
      <table class="col-md-4 col-xs-12 col-md-offset-0 col-xs-offset-0 image-size">
        <tr class="row">
          <th colspan="4" class="lineup-date">24일</th>
        </tr>
        <tr class="row">
          <td><%= image_tag("img/lineup/ailee24_1.jpg") %></td>
          <td><%= image_tag("img/lineup/juncoco24.jpg") %></td>
          <td><%= image_tag("img/lineup/maximite24.jpg") %></td>
          <td><%= image_tag("img/lineup/sane24.jpg") %></td>
        </tr>
        <tr class="row">
          <td class="lineup_name">Ailee</td>
          <td class="lineup_name">Juncoco</td>
          <td class="lineup_name">Maximite</td>
          <td class="lineup_name">San E</td>
        </tr>
      </table>
      
      <table class="col-md-2 col-xs-6 col-md-offset-0 col-xs-offset-3 image-size">
        <tr class="row">
          <th colspan="2" class="lineup-date">25일</th>
        </tr>
        <tr class="row">
          <td><%= image_tag("img/lineup/mamamoo25.jpg") %></td>
          <td><%= image_tag("img/lineup/epikhigh25.jpg") %></td>
        </tr>
        <tr class="row">
          <td class="lineup_name">마마무</td>
          <td class="lineup_name">에픽하이</td>
        </tr>
      </table>
      
      <table class="col-md-3 col-xs-9 col-md-offset-0 col-xs-offset-2 image-size">
        <tr class="row">
          <th colspan="3" class="lineup-date">26일</th>
        </tr>
        <tr class="row">
          <td><%= image_tag("img/lineup/girlfriend26.jpg") %></td>
          <td><%= image_tag("img/lineup/ericnam26.jpg") %></td>
          <td><%= image_tag("img/lineup/DJDOC26.jpg") %></td>
        </tr>
        <tr class="row">
          <td class="lineup_name">여자친구</td>
          <td class="lineup_name">에릭남</td>
          <td class="lineup_name">DJ DOC</td>
        </tr>
      </table>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <div class="logo col-md-4">
            <h1 class="contact_logo" align="center"> <img src="/assets/likelion_logo-a329241da9b58345c5588dcd430a399bb30ae259c8f8ea5e9a8358e77b2143c8.png" width="80px;">  x  <img width="100px;" src="/assets/kyung-42884f765c15f301e10f401f062370c1fba7e159a942373d62b5895776033682.jpg" style="vertical-align:middle" class="logo_shape_round"> </h1>
        </div>
  <p>Copyright © LikeLion in KHU 2016<br>
  자매품 : <a href="https://rt-bus.herokuapp.com/">외대버정</a><br>
  <span id="edit"><a class="index-page" href="/home/enter">수정</a></span>
  </p> 
</footer>

<!--주점 갯수 카운트 코드-->
<script>
  jQuery(document).ready(function() {
	function count($this){
		var current = parseInt($this.html(), 10);
		current = current + 1; /* Where 1 is increment */

		$this.html(++current);
		if(current > $this.data('count')){
			$this.html($this.data('count'));
		} else {
			setTimeout(function(){count($this)}, 50);
		}
	}

	jQuery(".stat-count").each(function() {
	  jQuery(this).data('count', parseInt(jQuery(this).html(), 10));
	  jQuery(this).html('0');
	  count(jQuery(this));
	});
});

$(document).ready(function(){
    var date = $("#today_fest").val()
    $("#today_fest").click(function(){
        if (date == 23 | date == 24 | date == 25 | date == 26 | date == 27){
          alert("Loading Successfully")
        }
        else{
          alert("아직 축제가 시작하지 않았습니다")
        }
        
    });
});

</script>